<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в систему</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-box">
        <h2>Вход в систему</h2>
        
        {% if error %}
        <div class="error">{{error}}</div>
        {% endif %}

        <form method="post">
            {%csrf_token%}
            <div class="form-group">
                <label>Логин (email): </label>
                <input type="text" name="login" required placeholder="Введите email">
            </div>
            <div class="from-group">
                <label>Пароль: </label>
                <input type="password" name="password" required placeholder="Введите пароль">
            </div>
            <button type="submit">Войти</button>
        </form>
    </div>
</body>
</html>