<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%if action == 'create'%}Добавить товар{%else%}Редактировать товар{%endif%}</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/product_form.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>{%if action == 'create'%}Добавить товар{%else%}Редактировать товар{%endif%}</h1>
        <form method="post">
            {%csrf_token%}
            <div class="form-group">
                <label>Артикул: </label>
                <input type="text" name="article" value="{{product.article|default:'' }}" required>
            </div>
            <div class="form-group">
                <label>Название: </label>
                <input type="text" name="product_name" value="{{product.product_name|default:'' }}" required>
            </div>
            <div class="form-group">
                <label>Цена: </label>
                <input type="number" step="0.01" name="price" value="{{product.price|default:0 }}" required>
            </div>
            <div class="form-group">
                <label>Кол-во на складе: </label>
                <input type="number" name="stock_quantity" value="{{product.stock_quantity|default:0 }}">
            </div>
            <div class="form-group">
                <label>Скидка: </label>
                <input type="number" name="discount" value="{{product.discount|default:0 }}">
            </div>
            <div class="form-group">
                <label>Описание: </label>
                <textarea name="description" rows="3">{{product.discount|default:0 }}</textarea>
            </div>
            <button type="submit">{%if action == 'create'%}Добавить{%else%}Сохранить{%endif%}</button>
            <a href="{% url 'main' %}" class="cancel">Отмена</a>
        </form>
    </div>
</body>
</html>